# IntelliJ project folder.
/.idea/

# IntelliJ project file.
*.iml

# Build folders.
/*/target/

# Generated Swagger Docs
/zpds-adapter-service/src/docs/generated
/zpds-adapter-service/src/main/resources/public/index.html

# Generate Jboss Deployment files
/zpds-adapter-service/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
/zpds-adapter-service/src/main/webapp/WEB-INF/jboss-web.xml
zpds-adapter-service/src/main/webapp/WEB-INF/web.xml
/.settings/
/.project
*/.settings/
*/.classpath
*/.project
day_01/session_01/lab_01/initial/hello-spring-boot/target/hello-spring-boot-0.0.1-SNAPSHOT.jar
day_01/session_01/lab_01/initial/hello-spring-boot/target/hello-spring-boot-0.0.1-SNAPSHOT.jar.original
day_01/session_01/lab_01/initial/hello-spring-boot/target/maven-archiver/pom.properties
day_01/session_01/lab_01/initial/hello-spring-boot/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
day_01/session_01/lab_01/initial/hello-spring-boot/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
day_01/session_01/lab_01/initial/hello-spring-boot/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
day_01/session_01/lab_01/initial/hello-spring-boot/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
day_01/session_01/lab_01/initial/hello-spring-boot/target/surefire-reports/TEST-io.spring.pivotal.HelloSpringBootApplicationTests.xml
day_01/session_01/lab_01/initial/hello-spring-boot/target/surefire-reports/io.spring.pivotal.HelloSpringBootApplicationTests.txt
day_01/session_01/lab_01/initial/hello-spring-boot/target/test-classes/io/spring/pivotal/HelloSpringBootApplicationTests.class
day_01/session_01/lab_01/initial/hello-spring-boot/.mvn/wrapper/maven-wrapper.jar
day_01/session_01/lab_01/initial/hello-spring-boot/.mvn/wrapper/maven-wrapper.properties
day_01/session_01/lab_01/initial/hello-spring-boot/src/main/java/io/spring/pivotal/HelloSpringBootApplication.java
day_01/session_01/lab_01/initial/hello-spring-boot/target/classes/application.properties
day_01/session_01/lab_01/initial/hello-spring-boot/target/classes/io/spring/pivotal/HelloSpringBootApplication.class
